@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/TKD_ParqueH.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* selector global!!! */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;;
}
/* selector global!!! */
p {
  line-height: 1.75;
}

/* ------------------- */
.redimension{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: #3255a5;
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  body {
    font-family: 'Lora';
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/TKD_ParqueH.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }


  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {

  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: #4776e3;
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: #3255a5;
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color: rgba(61, 87, 174, 0.8);
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}
/* selector global */
a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}
/* si se le añade (!important) a una propiedad css, machaca/prioriza la jerarquia en cascada que pueda arrastrar  */
.linksCategorias{
  color: #ffffff;
  text-decoration: underline;
}

.linksCategorias:hover{
  text-decoration: none;
}

.contenedorFormulario{
  background-color: #fff;
  width: 50%;
  margin: 8px auto;
  border-radius: 5px;
  padding: 1px 0px;
}


.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}
.redimIcon{
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
  margin-right: 2px;
}
.flexCT{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 36px;
  width: auto;
  text-align: center;
}
.normalFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  border: solid 2px black;
  width: 140px;
  height: 46px;
  background-color: transparent;
  border-radius: 32px;
  color: #fff;
}
.button:hover{
  background-color: #3255a5;
}
.buttonFree{
  border: solid 2px black;
  width: 180px;
  height: 46px;
  background-color: #fff;
  border-radius: 32px;
  color: black;
  margin-top: 60px;
}
.buttonFree:hover{
  background-color: #3255a5;
  color: #fff;
}
.h4Free{
  color: black;
}
.h4Free:hover{
  color: #fff;
}
.aNone{
  text-decoration: none;
}
.imgText{
  width: 460px;
  height: 100%;
  border-radius:  24px 24px 32% 32%;
  margin: 30px 80px 30px 80px;
}
.imgMaest{
  width: 860px;
  height: 100%;
}
.textMaest{
  font-family: 'Pacifico', cursive;
}
.buttonForm{

}
.buttonForm:hover{
  background-color: #3255a5;
  color: #fff;
  box-shadow: 0px 10px 10px -6px black;
}
.special{
  background-color: #00000018;
  border-radius: 18px;
  height: 40px;
  border: none;
  /* color: #fff; */
  margin: 8px;
  padding-left: 16px;
}
.special:hover{
  box-shadow: 0px 10px 10px -6px black;
  width: 80%;
  /* background-color: #fff; */
}
.specialBig{
  background-color: #00000018;
  border-radius: 18px;
  border: none;
  /* color: #fff; */
  margin: 8px;
  padding-left: 16px;
}
.specialBig:hover{
  box-shadow: 0px 10px 10px -6px black;
}
.login{
  width: 180px; height: 40px; border: solid 1px black; background-color: transparent; border-radius: 18px;
}
.cardItem{
  background-color: #fff;
  width: 280px;
  height: 100%;
  border-radius: 18px;
}
.cardItem:hover{
  box-shadow: 0px 10px 10px -6px black;
}
.textCard{
  width: auto;
  font-family: 'Pacifico', cursive;
}
.divServices{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgCard{
  height: 360px;
}
.board{
  background-color: #eef0f5a5;
}
.divHome{
  width:100%;
  height:auto;
  display:flex;
  /* flex-direction:row; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
  /* background: linear-gradient(rgba(47, 23, 15, 0), rgba(47, 23, 15, 0)),  no-repeat 50% 50% url("../img/maestros_long.jpg"); */
  background-image: url("../img/maestros_long.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(120%) saturate(120%);
}
/* .divHome::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.107);
} */
.item-flex{
  width: 50%;
  background-color: transparent;
  height: 800px;
}
.columnFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  /* margin: 10%; */
}